#include "src/github/chriskempson/base16-xresources/xresources/base16-default-dark-256.Xresources"

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1

#include ".Xresources.local"
